extends layout

mixin renderItems(name, parentId, items)
  each item, i in items
    dt(data-parentId=parentId)
      input(type='checkbox', name='#{item.name}', id='#{item.id}', class="check-progress")
      label(for='#{item.id}') #{item.name}
      span.progress 0% 
      if item.items
        a(href='#', data-items='sub-#{item.id}', class='expand')+

    if item.resources
        each resource in item.resources
          dd
            a(href="#{resource.link}", target="_blank") #{resource.name}

      if item.items
        dl(id='sub-#{item.id}', style='display:none')
          mixin renderItems(item.name, item.id, item.items)

block content
  h1= title

  section.list
    dl
      mixin renderItems('web development', 0, items)
    
